# <center>Лабораторна робота № 1.<br> Аналіз даних про доходи населення</center>

**В завданні пропонується за допомогою Pandas відповісти на декілька питань за даними репозиторія UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качати дані не потрібно – вони вже є в директорії роботи).

Унікальні значення ознак (більше інформації за посиланням вище):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [23]:
import pandas as pd
import numpy as np

**Доступ до даних на google drive**, якщо ви відкриваєте блокнот в **google colab**, а не на PC, можна отримати шляхом монтування google drive

In [24]:
# шлях до папки з даними на моєму github, відредагуйте згідно вашого випадку
data_folder = "https://raw.githubusercontent.com/Kenobi-Knobs/DataScienceSSUCourse/master/Lab%201/data"

In [25]:
#data = pd.read_csv('data/adult.data.csv')
data = pd.read_csv(data_folder+'/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Скільки чоловіків і жінок (ознака *sex*) представлено в цьому наборі даних?**

In [26]:
len(data[data["sex"] == "Male"]), \
len(data[data["sex"] == "Female"])

(21790, 10771)

**2. Який середній вік (ознака *age*) жінок?**

In [27]:
data[data["sex"] == "Female"]["age"].mean()

36.85823043357163

**3. Яка частка громадян Німеччини (ознака *native-country*)?**

In [28]:
data[data["native-country"] == "Germany"]["native-country"].count() / data["native-country"].count()

0.004207487485028101

**4-5. Які середні значення і середні відхилення віку тих, хто отримує більше 50K в рік (ознака *salary*) і тих, хто отримує менше 50K в рік? **

In [29]:
data.groupby(["salary"])["age"].agg([np.mean, np.std])

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

**6. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу освіту? (ознака *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* чи *Doctorate*)**

In [35]:
edu = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"]
print("отримують >50K: ", len(data[data["salary"] == ">50K"]))
print("отримують >50K і мають вищу освіту: ", len(data[(data["salary"] == ">50K") & (data["education"].isin(edu))]))

отримують >50K:  7841
отримують >50K і мають вищу освіту:  4535

**7. Вивести статистику віку для кажної раси (ознака *race*) і кожної статі. Використовуйте *groupby* і *describe*. Знайдіть таким чином максимальний вік чоловіків раси *Amer-Indian-Eskimo*.**

In [37]:
data.groupby(["race", "sex"])["age"].describe()
#82 роки

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

**8. Серед кого більша частка заробляючих багато (>50K): серед одружених чи холостих чоловіків (ознака *marital-status*)? Одруженими вважаємо тих, у кого *marital-status* починається з *Married* (Married-civ-spouse, Married-spouse-absent чи Married-AF-spouse), решту вважаємо холостими.**

In [51]:
mar = ["Married-civ-spouse", "Married-spouse-absent", "Married-AF-spouse"]
married = len(data[(data["sex"] == "Male") & (data["marital-status"].isin(mar)) & (data["salary"] == ">50K")])
not_married = len(data[(data["sex"] == "Male") & ~(data["marital-status"].isin(mar)) & (data["salary"] == ">50K")])
print("одружені: ", married)
print("не одружені: ", not_married)

одружені:  5965
не одружені:  697

**9. Яку максимальну кількість годин людина працює за тиждень (ознака *hours-per-week*)? Скільки людей працюють таку кількість годин і який серед них відсоток заробляючих багато?**

In [58]:
max_hours = data["hours-per-week"].max()
people_count = len(data[data["hours-per-week"] == max_hours])
people_count_big = len(data[(data["hours-per-week"] == max_hours) & (data["salary"] == ">50K")])

print("max hours: ", max_hours)
print("people: ", people_count)
print("%: ", people_count_big / people_count * 100)

max hours:  99
people:  85
%:  29.411764705882355

**10. Підрахуйте середній час роботи (*hours-per-week*) заробляючих мало і багато (*salary*) для кожної країни (*native-country*).**

In [59]:
data.groupby(["native-country", "salary"]) ["hours-per-week"].agg([np.mean])

                            mean
native-country salary
?              <=50K   40.164760
               >50K    45.547945
Cambodia       <=50K   41.416667
               >50K    40.000000
Canada         <=50K   37.914634
...                          ...
United-States  >50K    45.505369
Vietnam        <=50K   37.193548
               >50K    39.200000
Yugoslavia     <=50K   41.600000
               >50K    49.500000

[82 rows x 1 columns]